<h2>Post a new idea</h2>

<%= form_for(@idea) do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :category_id %>
  <%= f.collection_select :category_id, Category.all, :id, :title %>

  <%= f.submit 'Post Idea' %>
<% end %>
