<!DOCTYPE html>
<html>
<head>
  <title>IdeaBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Idea List</h1>

<hr/>

<div style="background-color: red; color: white;">
  <%= flash[:error] %>
</div>

<%= yield %>

</body>
</html>
